[submodule "config/.vim/pack/hfaulds/start/ack.vim"]
	path = config/.vim/pack/hfaulds/start/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "config/.vim/pack/hfaulds/start/comments.vim"]
	path = config/.vim/pack/hfaulds/start/comments.vim
	url = git@github.com:sudar/comments.vim.git
[submodule "config/.vim/pack/hfaulds/start/typescript-vim"]
	path = config/.vim/pack/hfaulds/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "config/.vim/pack/hfaulds/start/vim-gitgutter"]
	path = config/.vim/pack/hfaulds/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "config/.vim/pack/hfaulds/start/vim-go"]
	path = config/.vim/pack/hfaulds/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "config/.vim/pack/hfaulds/start/lightline.vim"]
	path = config/.vim/pack/hfaulds/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "config/.vim/pack/hfaulds/start/supertab"]
	path = config/.vim/pack/hfaulds/start/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "config/.vim/pack/hfaulds/start/rust.vim"]
	path = config/.vim/pack/hfaulds/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
