[user]
  name = Hayden Faulds
  email = fauldsh@gmail.com
[core]
  excludesfile = /Users/haydenfaulds/.gitignore_global
  pager = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
[color]
  diff = auto
  status = auto
  branch = auto
  ui = always
[alias]
  branches = "!git for-each-ref --count=20 --sort=-committerdate --format='%(committerdate:short)%09%(refname:short)%09%(subject)' refs/heads refs/remotes | column -ts $'\t'"
[branch]
  autosetuprebase = always
[push]
  default = current
[url "git@github.com:"]
  insteadOf = https://github.com/
[github]
	user = hfaulds
[credential]
	helper = osxkeychain
